@layer components {
	@scope (.socialLinkList) {
		:where(:scope) {
			display: flex;
			column-gap: var(--size-32);
			list-style: none;
		}

		.listItem {
			display: flex;
		}

		.item {
			display: flex;
			padding: var(--size-8);
			margin: calc(var(--size-8) * -1);
			color: var(--color-text-accent-low);
			border-radius: var(--radius-md);
			outline: none;

			@media (hover: hover) and (pointer: fine) {
				&:hover {
					color: var(--color-text-accent-high);
					background-color: var(--color-component-accent-rest);
				}
			}

			&:focus-visible {
				outline: var(--color-component-accent-selected) solid var(--size-3);
				outline-offset: var(--size-3);
			}
		}
	}
}
