@layer components {
	@scope (.indexPage) {
		:where(:scope) {
			display: flex;
			width: stretch;
			container: page / inline-size;
			flex-direction: column;
			align-items: center;

			@container (width > 30rem) {
				--page-variant: "desktop";
				--max-width: calc(30rem - var(--size-16) * 2);
			}

			@container (width > 50rem) {
				--max-width: min(calc(50rem - var(--size-32) * 2), var(--measure));
			}
		}
	}
}
