@layer components {
	@scope (.postPage) {
		:where(:scope) {
			display: flex;
			width: stretch;
			container: page / inline-size;
			flex-direction: column;
			align-items: center;

			--post-content-negative-margin: var(--size-16);

			@container (width > 30rem) {
				--page-variant: "desktop";
				--max-width: calc(30rem - var(--size-16) * 2);
				--post-content-negative-margin: 0;
			}

			@container (width > 50rem) {
				--max-width: calc(50rem - var(--size-32) * 2);
			}
		}

		.header {
			width: stretch;
			max-width: var(--max-width);
		}

		.content {
			width: stretch;
			max-width: var(--max-width);
			margin-block-start: var(--size-32);
			padding-inline: var(--size-16);

			@container style(--page-variant: "desktop") {
				padding-inline: unset;
			}
		}
	}
}
