@layer base {
	:where(*) {
		box-sizing: border-box;
		padding: 0;
		margin: 0;
		corner-shape: squircle;
	}

	:where(:root) {
		scroll-padding: var(--size-32);
		background-color: var(--neutral-0);
		color-scheme: var(--theme);

		--theme: light;

		@media (prefers-color-scheme: dark) {
			--theme: dark;
		}
	}

	:where(body) {
		container: body / inline-size;
		min-block-size: 100dvh;
		min-inline-size: 375px;
		max-inline-size: 100vw;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-block-end: var(--size-160);
		color: var(--neutral-11);
		font-size: var(--text-md);
		font-family: var(--font-sans);
		font-feature-settings: var(--font-sans-features);
		line-height: var(--leading-md);
		overflow-x: hidden;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;

		&::selection {
			background-color: var(--accent-5);
		}
	}
}
