@layer components {
	@scope (.indexPage) {
		:where(:scope) {
			display: flex;
			width: stretch;
			container: page / inline-size;
			flex-direction: column;
			align-items: center;

			@container (width > 30rem) {
				--page-variant: "desktop";
				--max-width: calc(30rem - var(--size-16) * 2);
			}

			@container (width > 50rem) {
				--max-width: calc(50rem - var(--size-32) * 2);
			}
		}

		.intro {
			display: flex;
			width: stretch;
			max-width: var(--max-width);
			/* container: intro / inline-size; */
			align-items: center;
			flex-direction: column;
			margin-block-start: var(--size-64);
			padding-inline: var(--size-16);

			@container style(--page-variant: "desktop") {
				flex-direction: row-reverse;
				column-gap: var(--size-32);
				padding-inline: unset;
			}
		}

		.portrait {
			position: relative;
			width: 75cqw;
			height: auto;
			container: cover / inline-size;
			aspect-ratio: 1;
			overflow: hidden;

			@container style(--page-variant: "desktop") {
				flex: 2;
			}
		}

		.portraitForeground {
			position: absolute;
			top: 15cqw;
			right: 15cqw;
			width: 85cqw;
			height: auto;
			filter: sepia(0.5) saturate(1.75)
				hue-rotate(calc(var(--accent-hue) - 92deg));
			z-index: 1;

			@container style(--theme: dark) {
				filter: sepia(0.5) saturate(2)
					hue-rotate(calc(var(--accent-hue) - 92deg)) brightness(0.9);
			}
		}

		.portraitBackground {
			position: absolute;
			top: 0;
			right: 0;
			width: 80cqw;
			height: auto;
			color: var(--accent-9);
		}

		.headline {
			margin-block-start: var(--size-32);
			color: var(--neutral-12);
			font-size: var(--text-xl);
			font-weight: 700;
			line-height: var(--leading-md);
		}

		.bio {
			display: flex;
			flex-direction: column;
			align-items: stretch;
			row-gap: var(--size-32);
			margin-block-start: var(--size-32);

			@container style(--page-variant: "desktop") {
				flex: 3;
			}
		}

		.bioContent {
			display: flex;
			flex-direction: column;
			align-items: stretch;
			row-gap: var(--size-16);
			font-size: var(--text-md);
			line-height: var(--leading-lg);
		}

		.bioSocialLinks {
			display: flex;
			column-gap: var(--size-32);
		}

		.bioSocialLink {
			display: flex;
			padding: var(--size-8);
			margin: calc(var(--size-8) * -1);
			color: var(--accent-11);
			border-radius: var(--radius-md);
		}

		.socialLink:hover {
			color: var(--accent-12);
			background-color: var(--accent-3);
		}

		.section {
			width: stretch;
			max-width: var(--max-width);
			margin-block-start: var(--size-48);
			padding-inline: var(--size-16);

			@container style(--page-variant: "desktop") {
				padding-inline: unset;
			}
		}

		.sectionHeading {
			color: var(--neutral-12);
			font-size: var(--text-xl);
			font-weight: 700;
		}

		.posts {
			margin-block-start: var(--size-24);
		}
	}
}
