@layer components {
	@scope (.snippet) {
		:where(:scope) {
			padding-block: var(--size-12);
			background-color: var(--neutral-2);
			overflow-x: auto;

			--snippet-foreground: var(--neutral-11);
			--snippet-token-constant: oklch(from var(--accent-11) l c calc(h + 64));
			--snippet-token-string: oklch(
				from var(--accent-11) l calc(c * 0.666) calc(h - 128)
			);
			--snippet-token-comment: oklch(from var(--accent-11) 60% calc(c / 5) h);
			--snippet-token-keyword: var(--accent-11);
			--snippet-token-parameter: var(--accent-11);
			--snippet-token-function: oklch(from var(--accent-11) l c calc(h - 32));
			--snippet-token-string-expression: oklch(
				from var(--accent-11) l calc(c * 0.666) calc(h - 128)
			);
			--snippet-token-punctuation: oklch(
				from var(--accent-11) l c calc(h - 64)
			);
			--snippet-token-link: var(--accent-11);
		}

		.viewer {
			width: fit-content;
			padding-inline: var(--size-16);
			font-size: var(--text-sm);
			font-family: var(--font-mono);
			font-feature-settings: var(--font-mono-features);
			line-height: var(--leading-md);
			white-space: pre;
			tab-size: 2;
		}
	}
}
